body {
    text-align: center;
    background: url('https://png.pngtree.com/illustration/20220705/ourmid/pngtree-tropical-vacation-flat-color-vector-illustration-image_78826.png') no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#key {
    margin-right: 20px;
}

#game-container {
    text-align: center;
}

canvas {
    background: #f0f0f0;
    border: 1px solid #000;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    color: #FF6347;
}

h3 {
    font-size: 20px;
    color: #FFD700;
}

#scoreboard {
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    color: dodgerblue;
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: 'Orbitron', sans-serif;
    background-color: #FF4500;
    color: dodgerblue;
    border: 2px solid #FFFFFF;
}

.slider {
    width: 150px; 
    margin-top: 10px;
    background-color: #FF4500;
}

label {
    display: block;
    margin-top: 5px;
    color: dodgerblue;
}

input[type="checkbox"] {
    accent-color: #FF4500;
}
